.info-text {
    display: flexbox;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    flex: 1;
    padding: 60px 10vw 60px 80px;
    align-items: center;
}

.info-text>p, .info-text>h2 {
    max-width: 600px;
    display: flex;
}

.info-text>p {
    font-size: 18px;
    line-height: 1.8;
    text-align: justify;
    margin-bottom: 40px;
}

h2 {
    font-weight: 500;
    color: #0baaee;
    margin-bottom: 25px;
    font-size: 40px;
}

.button-container>button {
    background-color: var(--primary-color);
    border: none;
    color: white;
    min-width: 150px;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin-bottom: 40px;
    font-family: var(--font-family);
    align-items: center;
    justify-content: space-between;
}

.button-container {
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}